<div id="fire-engine">
   <canvas id="fire-engine-canvas">
   </canvas>
</div>
<div id="description">
   <p>
   Email - Our email address is <a href="http://www.google.com/recaptcha/mailhide/d?k=01BZHC9faiV3iLyKHiZOauKw==&amp;c=-4n0oCsZwshoMe-pUDb0-Lc8c-Nxwap3p0EN0mT8aMw=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501BZHC9faiV3iLyKHiZOauKw\75\75\46c\75-4n0oCsZwshoMe-pUDb0-Lc8c-Nxwap3p0EN0mT8aMw\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">u...</a>@johnandhinaswedding.website (You have to click on the u...), feel free to send us a message about anything.  We don't have many friends so please talk to us.
   </p>
   <p>
   Address - The address of the event is <%= link_to "Larchfield house, Church Street, Barkston Ash, Leeds, UK, LS24 9PJ (you can click here)", "https://www.google.com/maps/place/Larchfield+House,+Church+St,+Barkston+Ash,+Tadcaster,+North+Yorkshire+LS24+9PJ,+UK/@53.8190678,-1.2547195,17z/data=!3m1!4b1!4m2!3m1!1s0x4879474d1d751c89:0x284963a9e971207e?hl=en-419", target:"_blank" %>. For those from around us, yes, it's my parent's house.
   <!-- <div id="map_canvas_larchfield" class="map_canvas"></div> -->
   </p>
   <p>
   Parking - You can park at the side of the road outside the address 
   <%= link_to "here.", "https://www.google.com/maps/@53.819317,-1.2541986,3a,75y,89.53t/data=!3m4!1e1!3m2!1sab3sl7iE9yh9HbTWbdNbnw!2e0" %> 
   </p>
   <p>
   Accomodation - Do a <%= link_to "search on google maps", "https://www.google.com/maps/search/bed+and+breakfast/@53.8190678,-1.2547195,13z/data=!3m1!4b1!4m5!2m4!3m3!1sbed+and+breakfast!2sLarchfield+House,+Church+St,+Barkston+Ash,+Tadcaster,+North+Yorkshire+LS24+9PJ,+Reino+Unido!3s0x4879474d1d751c89:0x284963a9e971207e?hl=en-419" %> or do a <%= link_to "google search", "http://lmgtfy.com/?q=bed%20and%20breakfast%20larchfield%20house%20church%20street%20barkston%20ash%20leeds#" %>
   or if you are desperate you can sleep in the marquee.
   </p>
   <p>
   <!-- <div id="map_canvas_hotels" class="map_canvas"></div> -->
   </p>
   <p>
   Taxi numbers - So you can get to your bed -
   0113 243 9275
   </p>
   <p>
   Gifts - We’ll just be happy if you make it.
   However if you really feel the need to fund our traveling lifestyle there will card box on the day.
   </p>
</div>
<canvas id="fire-station-canvas">
</canvas>
<script type="text/javascript">
   var fireEngine;
   initCanvas(function() {
      var sources = {
         fireEngineRight: "<%= asset_path 'fire_engine_right.png' %>",
         wheelsRight: "<%= asset_path 'wheels_right.png' %>",
         fireEngineLeft: "<%= asset_path 'fire_engine_left.png' %>",
         wheelsLeft: "<%= asset_path 'wheels_left.png' %>",
         fireStation: "<%= asset_path 'fire_station.png' %>",
         roofChicken: "<%= asset_path 'roof_chicken.png' %>",
         roofChickenDown: "<%= asset_path 'roof_chicken_left.png' %>",
         fireEngine: "<%= asset_path 'fire_engine.png' %>"
      };

      var fireEngine = new FireEngine(0, 0, 200, 200, 10); 
      var fireStation = [new FireStation((window.innerWidth/2-150), 
         0, 300, 300)];
      var fec = canvas(sources, "fire-engine-canvas", window.innerWidth, 
         200, [fireEngine], function(){
            if(fireEngine.absX() > window.innerWidth && !fireEngine.cleanUp) {
               fireEngine.cleanUp = true;
               fireStation.push(fireEngineParking);
            }
      });
      var fireEngineParking = new FireEngine(window.innerWidth, 135, 200, 200, -10);
      var fsc = canvas(sources, "fire-station-canvas", window.innerWidth, 300, 
         fireStation, function(){
            if(fireEngineParking.absX() < (window.innerWidth/2 - fireEngine.width/2 + 10)) {
               fireEngineParking.velocity = 0;
            }
      });

      var windUpCanvas = function(canvas) {
         if(canvas.height > 0) {
            window.setTimeout(function(){
               canvas.height--;
               windUpCanvas(canvas);
            }, 20);
         }
         else {
            fireStation.push(fireEngineParking);
         }
      }
   });


</script>
<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
