<div id="description">
   <p>
   Enter the name of a new guest who will come as part of the <%= @group.name %> group
   </p>
   <p>
   Guests already in this group are <%= @group.guests.map{|g|g.name}.to_sentence %>
   </p>
   <% @guest.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>
   <div>
      <%= form_for [@group, @guest] do |f| %>
         <div class="form-element">
            <%= f.text_field :name, placeholder:"Enter guest's name" %>
         </div>
         <div class="form-element">
            <%= f.label "Is a baby" %> 
            <%= f.check_box(:is_baby) %> 
         </div>
         <div class="form-element">
            <%= f.label "Not going to accept" %> 
            <%= f.check_box(:is_not_going_to_accept) %> 
         </div>
         <div class="form-element">
            <%= f.label "Probably not going to accept" %> 
            <%= f.check_box(:is_not_going_to_accept_probably) %> 
         </div>
         <div class="form-element">
            <%= image_submit_tag "submit.png" %>
            <%= link_to image_tag("cancel.png"), @group, {class:"cancel"} %>
         </div>
      <% end %>
   </div>
</div>


