<div id="description">
   <h3>Latest requests</h3>
   <div class="group">
      <% Request.last_five.each do |r| %> 
         <p>
            <%= r.song_title %> by <%= r.artist %>
         </p>
      <% end %>
      <p>
      <%= link_to "All request", requests_path %>
      </p>
   </div> 
   <hr/>

   <h3>Numbers</h3>
   <div class="group">
      <p>
         <%= link_to count("group", Group.count), groups_path %>
      </p>
      <p>
         <%= link_to responded("group", Group.num_responded, false), groups_path(has_submitted: 1) %>
      </p>
      <p>
         <%= link_to responded("group", Group.num_not_responded, true), groups_path(has_submitted: 0) %>
      </p>
      <p>
         <%= count("adult", Guest.count) %> invited 
      </p>
      <p>
         <%= count("baby", Guest.num_babies) %> invited 
      </p>
      <p>
         <%= max("adult", Guest.num_max) %>  
      </p>
      <p>
         <%= min("adult", Guest.num_min) %>  
      </p>
      <p>
         <%= responded("guests", Group.num_guests_responded, false) %>
      </p>
      <p>
         <%= coming("adults", Guest.num_coming) %>
      </p>
      <p>
         <%= coming("baby", Guest.num_babies_coming) %>
      </p>
      <p>
      <%= link_to "All groups", groups_path %>
      </p>
   </div> 
   <hr/>

   <h3>Invites</h3>
   <%= link_to "Invites not sent", groups_path(received_invite: 0) %>

   <hr/>
   <h3>Recent responses</h3>
   <% @groups.each do |group| %>
      <div class="group">
         <div>
            <h3><%= link_to group.name, group_path(group) %></h3>
         </div>
         <div>
            <%= render partial: "shared/group", object: group %>
         </div>
      </div>
   <% end %>      
   <%= link_to "All responses", groups_path(has_submitted: 1) %>

   <div class="add-group">
      <%= link_to image_tag("cancel.png"), root_path, class:"cancel" %>
   </div>

</div>
