<div id="description">
   <h3>Edit<%= link_to @group.name, @group %></h3>
</div>
<div>
   <%= form_for @group do |f| %>
      <% @group.errors.full_messages.each do |msg| %>
         <p><%= msg %></p>
      <% end %>
      <div class="form-element">
         <%= f.text_field :name, placeholder:"Enter name of group" %><br />
      </div>
      <div class="form-element">
         <%= f.text_field :email, placeholder:"Enter email to address" %><br />
      </div>
      <div class="form-element">
         <%= f.fields_for :guests do |ff| %>
         <p>
            <%= "#{ff.object.name}" %> <%= ff.check_box(:is_coming) %> 
         </p>
         <% end %>
      </div>
      <div class="form-element">
         <%= image_submit_tag "submit.png" %>
         <%= link_to image_tag("cancel.png"), groups_path, class:"cancel" %>
      </div>
   <% end %>
</div>


