<div id="description">
   <div>
      <h3><%= @group.name %></h3>
   </div>
   <div>
      <%= render partial: "shared/group", object: @group %>
   </div>
   <p>
   <% unless @group.email.blank? %>   
      The email address to contact the group is <%= @group.email %>.
   <% else %>
      This group doesn't have an email address. 
   <% end %>
   </p>
   <%= render partial: "send_invite_button", locals: {group: @group} %>
   <div class="middle-btn-row">
      <%= link_to image_tag("edit.png"), edit_group_path(@group), { class: "cancel" } %>
      <%= button_to "", @group, method: :delete, class: "delete cancel" %>
      <%= link_to image_tag("cancel.png"), groups_path, { class: "cancel" } %>
   </div>
   <%= link_to image_tag("add_guest.png"), new_group_guest_path(@group), { class:"add" } %>
</div>


