<div id="description">
   <div>
      <h3><%= link_to @group.name, @group %></h3>
   </div>
   <p>
      <% if @group.guests.empty? %>
         There are no guests in the <%= @group.name %> group yet.
      <% elsif @group.guests.size == 1 %>
         The only guest in the <%= @group.name %> group is <%= @group.guests.map{|g|g.name}.to_sentence %>.
      <% else %>
         The guests in the <%= @group.name %> group are <%= @group.guests.map{|g|g.name}.to_sentence %>.
      <% end %>
   </p>
   <p>
      The email address to contact the group is <%= @group.email %>
   </p>
   <p>
   <% if @group.has_submitted %>
      The group has submitted their response
      <% @group.guests.each do |g| %>
         <%= "#{g.name} #{g.is_coming ? 'is coming' : 'is not coming'}" %>
      <% end %>
      <% if @group.message.blank? %>
         but didn't leave a message
      <% else %>
         They said "<%= @group.message %>" 
      <% end %>
   <% else %>
      The group hasn't yet submitted their response to the invitation
   <% end %>
   </p>
   <p>
   <%= render partial: "send_invite_button", locals: {group: @group} %>
   <%= link_to image_tag("cancel.png"), groups_path, { class: "cancel" } %>
   <%= link_to image_tag("edit.png"), edit_group_path(@group), { class: "cancel" } %>
   <%= link_to image_tag("delete.png"), @group, method: :delete, class: "cancel" %>
   <br/>
   <%= link_to image_tag("add_guest.png"), new_group_guest_path(@group), { class:"add" } %>
   </p>
</div>


