<div id="menu">
   <div class="row">
      <div id="whats-all-this"><%= link_to image_tag("whats_all_this_2.png"), whats_all_this_path, :"data-no-turbolink" => true %></div>
      <div id="how-we-got-here"><%= link_to image_tag("how_we_got_here_2.png"), how_we_got_here_path, :"data-no-turbolink" => true %></div>
   </div>
   <div class="row">
      <div id="the-logistics"><%= link_to image_tag("the_logistics_2.png"), the_logistics_path, :"data-no-turbolink" => true %></div>
      <div id="the-event"><%= link_to image_tag("the_event_2.png"), the_event_path, :"data-no-turbolink" => true %></div>
      <div id="requests"><%= link_to image_tag("requests_2.png"), new_request_path, :"data-no-turbolink" => true %></div>
   </div>
</div>
