<div id="menu">
   <div class="row">
      <div id="whats-all-this"><%= link_to image_tag("whats_all_this.png"), whats_all_this_path, class:(@active_item==0 ? "active" : "") %></div>
      <div id="how-we-got-here"><%= link_to image_tag("how_we_got_here.png"), how_we_got_here_path, class:(@active_item==1 ? "active" : "")  %></div>
   </div>
   <div class="row">
      <div id="the-logistics"><%= link_to image_tag("the_logistics.png"), the_logistics_path, class:(@active_item==2 ? "active" : "")   %></div>
      <div id="the-event"><%= link_to image_tag("the_event.png"), the_event_path, class:(@active_item==3 ? "active" : "")  %></div>
      <div id="requests"><%= link_to image_tag("requests.png"), new_request_path, class:(@active_item==4 ? "active" : "")  %></div>
   </div>
</div>
