<canvas id="music-canvas" class="background"></canvas>
<div class="overlay">
   <%= render partial: "shared/title" %>
   <%= render partial: "shared/menu" %>
   <div id="description">
      <p>
      We need requests for the band and the DJ.
      They’ll be too busy with the ceilidh to put on good tunes otherwise
      </p>
      <div>
         <% @request.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
         <% end %>
         <div>
            <%= form_for @request do |f| %>
               <div class="form-element">
                  <%= f.text_field :artist, placeholder:"Artist" %><br />
               </div>
               <div class="form-element">
                  <%= f.text_field :song_title, placeholder:"Song title" %><br />
               </div>
               <div class="form-element">
                  <%= recaptcha_tags display:{theme:"white"}%>
               </div>
               <div class="form-element">
                  <%= image_submit_tag "send_request.png" %>
               </div>
            <% end %>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">

   initCanvas(function() {

      var pictures = [];

      var sources = {
         singleNote: "/assets/single_note.png",
         doubleNote: "/assets/double_note.png",
         hinaArmless: "/assets/hina_step_1.png",
         hina2: "/assets/hina_step_2.png",
         hinaArm: "/assets/hina_arm.png"
      };

      var pictures = []; 
      var nys = [window.innerWidth/2, window.innerWidth/2-200];
      window.setInterval(function() {
         pictures.push(new Note(randomElement(nys), window.innerHeight, 5, 20));
      }, 1000);

      canvas(sources, "music-canvas", window.innerWidth, window.innerHeight, 
      pictures);
      window.setTimeout(function(){
         var hinaWidth = 300;
         var hina = new Hina(0-hinaWidth, window.innerHeight-400, hinaWidth, 400, 0);
         pictures.push(hina);
      }, 20000);
   });

</script>

