<canvas id="music-canvas" class="background"></canvas>
<div class="overlay">
   <%= render partial: "shared/title" %>
   <%= render partial: "shared/menu" %>
   <div id="description">
      <p>
      We need requests for the band and the DJ.
      They’ll be too busy with the ceilidh to put on good tunes otherwise
      </p>
      <%= form_for @request do |f| %>
         <%= h flash[:notice] %>
         <% @request.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
         <% end %>
         <div class="form-element">
            <%= f.text_field :artist, placeholder:"Artist" %><br />
         </div>
         <div class="form-element">
            <%= f.text_field :song_title, placeholder:"Song title" %><br />
         </div>
         <div class="form-element">
            <%= recaptcha_tags display:{theme:"white"}%>
         </div>
         <div class="form-element">
            <%= image_submit_tag "send_request.png", class:"requests" %>
         </div>
      <% end %>
   </div>
</div>

<script type="text/javascript">

   initCanvas(function() {

      var pictures = [];

      var sources = {
         hinaRightStep1: "<%= asset_path 'hina_right_step_1.png' %>",
         hinaRightStep2: "<%= asset_path 'hina_right_step_2.png' %>",
         hinaLeftStep1: "<%= asset_path 'hina_left_step_1.png' %>",
         hinaLeftStep2: "<%= asset_path 'hina_left_step_2.png' %>",
         hinaArmRight: "<%= asset_path 'hina_arm_right.png' %>",
         hinaArmLeft: "<%= asset_path 'hina_arm_left.png' %>",
         singleNote: "<%= asset_path 'single_note.png' %>",
         doubleNote: "<%= asset_path 'double_note.png' %>"
      };

      var pictures = []; 
      var nys = [window.innerWidth/2, window.innerWidth/2-200];
      window.setInterval(function() {
         pictures.push(new Note(randomElement(nys), window.innerHeight, 5, 20));
      }, 1000);

      canvas(sources, "music-canvas", window.innerWidth, window.innerHeight, 
      pictures);
      window.setTimeout(function(){
         var hinaWidth = 150;
         var hinaHeight = 200;
         var hina = new Hina(window.innerWidth+hinaWidth, window.innerHeight-hinaHeight*1.3, hinaWidth, hinaHeight, -1);
         pictures.push(hina);
      }, 10000);
   });

</script>

