<div id="description">
   <h3>
   This is the RSVP page for the <%= @group.name %> group
   </h3>
   <p>
   Please let us know who is coming by filling out the details below.
   If you run into difficulties or just want to tell us 
   something send an email to <%= Rails.application.config.email %>
   </p>
   <p>
   Visit the site to find out more by clicking <%= link_to "here", root_path %>
   </p>
   <%= form_for @group do |f| %>
      <div class="form-element">
         Checking the box next to the name of whoever is coming
         <p>
            <%= f.fields_for :guests do |ff| %>
               <%= "#{ff.object.name}" %> <%= ff.check_box(:is_coming) %> 
            <% end %>
         </p>
         <%= hidden_field_tag "group[has_submitted]", true %>
         <%= f.label "Leave us a message" %>
         <%= f.text_area :message, cols: "40", rows: "10"  %>
      </div>
      <div class="form-element">
         <%= image_submit_tag "submit.png" %>
         <%= link_to image_tag("cancel.png"), root_path, {:"data-no-turbolink" => true, class:"cancel" } %>
      </div>
   <% end %>
</div>

