<% content_for :content do %>
<div id="wrapper">
   <div id="container">
      <%= render partial: "shared/title" %>
      <%= render partial: "shared/menu" %>
      <%= yield %>
   </div>
</div>
<%= render partial: "shared/footer" %>
<% end %>
<%= render template: "layouts/base_layout" %>
